.circle1{
	width: 8vh;
	height: 8vh;
	border: 1px solid pink;
	background-color: pink;
	border-radius: 100%;
}
.circle2{
	width: 8vh;
	height: 8vh;
	border: 1px solid pink;
	background-color: pink;
	border-radius: 100%;
	position: absolute;
	top: 4vh;
	left: 4vh;
}
.square{
	width: 8vh;
	height: 8vh;
	border: 1px solid pink;
	background-color: pink;
	position: absolute;
	top: 4vh;
}
.heart{position: absolute;transform: rotate(-45deg);}
