.circle1{
	width: 6vh;
	height: 6vh;
	background-color: white;
	border-radius: 100%;
}
.circle2{
	width: 6vh;
	height: 6vh;
	background-color: white;
	border-radius: 100%;
	position: absolute;
	top: 3vh;
	left: 3vh;
}
.square{
	width: 6vh;
	height: 6vh;
	background-color: white;
	position: absolute;
	top: 3vh;
}
.heart{position: absolute;transform: rotate(-45deg);}
