body{
		margin: 0;
		padding: 0;
	}
	header{
	background: #5fc0cd;
	color: white;
	position: fixed;
	top: 0;
	width: 100vw;
	height:9vh;
	z-index: 2;
	}
	main{
		position: fixed;
		width: 100vw;
		z-index: 1;
		overflow: auto;
	}
	footer{
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 12vh;
		z-index: 2;
		display: flex;
		justify-content: space-around;
		background: white;
	}
	.return{
		position: fixed;
		left: 3vw;
		top: 3vh;
		height: 3vh;
	}
	.head{
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		top: 2.5vh;
		font-size: 1.1rem;
	}
	.left,.right{
		display: inline-block;
		width: 38vw;
		border: 1px solid #5fc0cd;
		text-align: center;
		border-radius: 5px;
		margin: 2vh 0;
		padding: 2vh 2vw;
	}
	.left{
		color: #5fc0cd;
		margin-left: 3vw;
	}
	.right{
		background: #5fc0cd;
		color: white;
		margin-right: 3vw;
	}
	#bgimage{
		height: 25vh;
		margin-top: 9vh;
		background-image: url(bgimage.png);
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(5px);
	}
	#bgimage:before{
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		background-color: black;
		height: 25vh;
		width: 100vw;
		opacity: 0.2;
	}
	.intro{
		color: white;
		display: flex;
		align-items: center;
		position: absolute;
		top: 15vh;
		left: 5vw;
	}
	.adjust{padding-left: 8vw;}
	.photo{
		height: 13vh;
		display: inline;
	}
	.age{font-size: 0.9rem;padding-left: 1vw;}
	.map{height: 0.7rem;}
	.site{font-size: 0.5rem;padding: 0;}
	.skill{
		border-left: 3px solid #5fc0cd;
		margin:2vh 3vw;
		padding-left:5vw;
	}
	.condition{
		border-top: 1px solid #e1e5e7;
		padding: 2vh 8vw;
	}
	.star{height: 1rem;}
	.star2{
		margin-left: 2vw;
		padding-left: 3vw;
		border-left: 1px solid #e1e5e7;
	}
	.table{
		border-bottom: 1px solid #e1e5e7;
		padding:2vh 0;
		margin: 0 3vw;
	}
	.year{border-top: 1px solid #e1e5e7;}
	.introdution{
		padding:2vh 3vw;
		border-bottom: 1px solid #e1e5e7;
		display: flex;
		align-items: center;
		margin-bottom: 16vh;
	}
	span{
		display: inline-block;
		padding: 0 5vw;
	}
	.subhead{
		border-right: 1px solid #e1e5e7;
		color: #999999;
	}
	.red{color: red}
	.details{width: 55vw;}