.index{color: black;}
.index:hover{color: black;
	text-decoration-line: 1px solid black;}
.occup{color: #29b078;font-weight: bold;}
.occup:hover{color: #29b078;
	text-decoration-line: 1px solid #29b078;}
.subnav{padding: 20px 0;}

.main-left,.main-right{border: 1px solid #999999;
	border-radius: 7px;
	margin-bottom: 30px;}
.dot{width: 10px;height: 10px;
	border: 1px solid #f9a372;
	border-radius: 50%;
	display: inline-block;
	margin: 5px;}
.left-text:hover .dot{background-color: #f9a372;} 
.left-text:hover .text{color: #f9a372;}
.left-p{border-bottom: 1px solid #999999;
	padding: 12px 0;margin-bottom: 21px;text-align: center;}
.text{color: #74c5a0;margin: 0;font-size: 14px;width: 80px;}
.left-text{display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 21px;}

.main-right p{margin: 37px;text-indent: 2em;text-align: justify;}
.right-p{display: flex;
	align-items: center;justify-content: center;
	border-bottom: 1px solid #999999;}
@media screen and (max-width: 720px) {
	.right-p {display: block;}
}

